navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #1E1F25;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60vh;
    margin: auto;
    max-width: 1000px;
    justify-content: space-between;
    text-align: center;
}

nav {
    margin: 0;
    padding: 0;
    background: #d9dae2;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    text-align: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
}

.navbar-navl {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 33%;
}

.navbar-navr {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 33%;
}

.navbar-brand {
    text-align: center;
}

.nav-link {
    margin-right: 50px;
}